1. What are data structures, and why are they important?
    - Data structures are organized ways to store, manage and retrieve data efficiently. It is important for efficient data management, it makes programs faster and smarter.

2. Explain the difference between mutable and immutable data types with examples.
    - Mutable data types are which can be modified or can be changed after creation. Mutable data types are list, dictionary, set. Use cases like shopping cart, Student information, Visitors on a website etc.
    Whereas immutable data types are which can not be modified or can not be changed after it's creation. These are strings, tuples. Uses cases like saving username or email, employee id, map coordinates etc.

3. What are the main differences between lists and tuples in Python?
    - Lists are mutable and tuples are immutable.

4. Describe how dictionaries store data.
    - Dictionary store data in Key & Value pair. Ex- mydict = {"a": 1, "b": 2} Also one can store a dictionary inside a dictionary what is called nested dictionary.

5. Why might you use a set instead of a list in Python?
    - I will use set instead of a list in Python whenever i need unique data as we know that there can be duplicate values in list but set has unique values, no value can be repeated twice in set.

6. What is a string in Python, and how is it different from a list?
    - String in Python is a sequence of characters, be it letters, numbers or symbols written inside a single quotes or double qoutes. String contains only characters but lists can contain any data type. String is immutable and list is mutable.

7. How do tples ensure data integrity in Python?
    - Tuples help protect the data by being immutable, which means one cannot change their content once it is created also it stays accurate and reliable over time.

8. What is a hash table, and how does it relate to dictionaries in Python?
    - A hash table is a data structure that stores data in key-value pairs similar to dictionaries in Python. Like hash table,in dictionaries one can get values quickly using keys, keys must be unique, can be changed or updated.

9. Can lists contain different data types in Python?
    - Yes, lists can contain different data types like, integer, float, boolean, strings etc.

10. Explain why strings are immutable in Python?
    - Strings are immutable in Python to keep the code safe, fast and reliable. It prevents accidental changes to important texts.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries are faster than lists. In a list search can be done by index or value but in dictionary one can directly access the value using a key. Dictionaries are readable like normal english due to it's key-value pairs. It's also perfect for storing attributes of an object.

12. Describe a scenario where using a tuple would be preferable over a list.
    - Like storing usernames, coordinates, employee_id's, representing dates and time, product_id's etc. In any scenario where the data needs to be secured and should not change.

13. How do sets handle duplicate values in Python?
    - Sets actually omits the duplicate or repeated elements and keep the unique ones or one copy of repeated elements.

14. How does the "in" keyword work differently for lists and dictionaries?
    - In lists it checks values or items is present in the list. But in dictionaries it checks only for keys not values.

15. Can you modify the elements of a tuple? Explain why or why not?
    - No, The elements of a tuple cannot be modified. Because tuples are immutable which means once created, they cannot be changed. It is useful when data should be constant.

16. What is a nested dictionary, and give an example of it's use case?
    - Nested dicitionary means when a dictionary is used inside a dictionary. Ex- Details of employees with their employee id(keys) and inside value, there is also a dictionary for storing name, age, salary, designation etc as key-value pair.

17. Describe the time complexity of accessing elements in a dictionary.
    - Accessing elements in dictionary is very fast. No matter how large the dictionary is, looking up a key is quick and direct.

18. In what situations are lists preferred over dictionaries?
    - Sutuation where order matters, need to store duplicate items, sort items etc. Use case like shopping cart.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries considered unordered because one cannot access elements by position or indexing is not possible like in a list. For data retrieval one can access data by key not by index. No positional access like you can't do mydict[0] in a dictionary.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - First of all one can access list by indexing but in dictionary accessing with key only. In a list there can be duplicate items but in dictionary there is unique keys though values can be duplicate.

Practical Questions

1. Write a code to create a string with your name and print it.

In [1]:
name = "Koushik Rabidas"
print(name)

Koushik Rabidas

2. Write a code to find the length of the string "Hello World"

In [2]:
str = "Hello World"
print(len(str))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
str = "Python Programming"
str[:3]

'Pyt'

4. Write a code to conver the string "hello" to uppercase.

In [6]:
str = "hello"
print(str.upper())

HELLO

5. Write a code to replace the "apple" with "orange" in the string "I like apple".

In [7]:
str = "I like apple"
new_str = str.replace("apple", "orange")
print(new_str)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [9]:
list1 = []
for i in range(1,6):
    list1.append(i)
print(list1)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1,2,3,4].

In [10]:
list2 = [1,2,3,4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1,2,3,4,5].

In [11]:
list3 = [1,2,3,4,5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ["a", "b", "c", "d"].

In [12]:
list4 = ["a", "b", "c", "d"]
print(list4[1])

b

10. Write a code to reverse the list [10,20,30,40,50].

In [13]:
list5 = [10,20,30,40,50]
print(list5[::-1])

[50, 40, 30, 20, 10]

11. Write a code to tuple with the elements 100,200,300 and print it.

In [14]:
tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [15]:
tuple2 = ("red","green","blue","yellow")
tuple2[-2]

'blue'

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [16]:
tuple3 = (10,20,5,15)
min(tuple3)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [18]:
tuple4 = ("dog","cat","rabbit")
tuple4.index("cat")

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [19]:
tuple5 = ("apple", "banana", "kiwi")
"kiwi" in tuple5

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [20]:
set1 = {"a","b","c"}
print(set1)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [21]:
set2 = {1,2,3,4,5}
print(set2.clear())

None

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [23]:
set3 = {1,2,3,4}
set3.remove(4)
print(set3)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [27]:
set4 = {1,2,3}
set5 = {3,4,5}
print(set4.union(set5))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [28]:
set6 = {1,2,3}
set7 = {2,3,4}
print(set6.intersection(set7))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [29]:
mydict = {"name":"Koushik", "age": 31, "city": "Kolkata"}
print(mydict)

{'name': 'Koushik', 'age': 31, 'city': 'Kolkata'}

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [34]:
mydict2 = {"name": "John","age": 25}
mydict2["country"] = "USA"
print(mydict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [35]:
mydict3 = {"name": "Alice", "age": 30}
mydict3.get("name")

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [37]:
mydict4 = {"name":"Bob","age": 22,"city": "New York"}
mydict4.pop("age")
print(mydict4)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [39]:
mydict5 = {"name":"Alice","city":"Paris"}
"city" in mydict5

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [42]:
a_list = [1,2,3,4,5]
a_tuple = (1,2,3,4,5)
a_dict = {"name":"Koushik","age": 31}
print(a_list,"\n",a_tuple,"\n",a_dict)

[1, 2, 3, 4, 5]
 (1, 2, 3, 4, 5)
 {'name': 'Koushik', 'age': 31}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).

In [ ]:
randomlist = [76,35,84,34,21]
randomlist.sort()
print(randomlist)

[21, 34, 35, 76, 84]
[21, 34, 35, 76, 84]

28. Write a code to create a list with strings and print the element at the third index.

In [47]:
list6 = ["Tata", "Mahindra", "Maruti", "BMW", "Audi"]
print(list6[3])

BMW

29. Write a code to combine two dictionaries into one and print the result.

In [48]:
mydict6 = {"name":"Koushik", "Age":31}
mydict7 = {"course": "Data Analytics","platform": "pwskills"}
mydict6.update(mydict7)
print(mydict6)

{'name': 'Koushik', 'Age': 31, 'course': 'Data Analytics', 'platform': 'pwskills'}

30. Write a code to convert a list of strings into a set.

In [52]:
list7 = ["HP","Asus","MSI","Lenovo"]
converted_to_set = set(list7)
print(converted_to_set)
type(converted_to_set)

{'Asus', 'Lenovo', 'HP', 'MSI'}

set